IBM holiday list 2020 with Jupyter notebook Pandas

In [2]:
# The code was removed by Watson Studio for sharing.

,Holiday List - 2020,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,S.No,Holiday,2020,NaN,NaN,Karnataka,TN,Telangana,Andra Pradesh,NCR,Maharashtra,NaN,Gujrat,WB,Jharkhand,Orissa,Rajasthan
1,NaN,NaN,Date,Day,Type of holiday,Bangalore,Chennai,HYD,Vizag,Delhi/Noida Gurgoan/,Pune,Mumbai,Ahmedabad,Kolkata,Jamshedpur,Bhubaneshwar,Jaipur
2,1,Makar Sankranti/Bhogi,2020-01-14 00:00:00,Tuesday,#,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
3,2,Makar Sankranti/Pongal/,2020-01-15 00:00:00,Wednesday,#,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,1
4,3,Netaji Birthday,2020-01-23 00:00:00,Thursday,#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN